<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:akka="http://akka.io/schema/akka"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://akka.io/schema/akka
                           http://akka.io/akka-1.3.1.xsd">

    <!-- Commented for now import resource="applicationContext-mail.xml"/>
    <import resource="applicationContext-properties.xml"/>
    <import resource="applicationContext-service.xml"/> -->

  <!--   <akka:typed-actor id="mailSenderActor"
                      interface="com.mrd.yourwebproject.actor.MailSenderActor"
                      implementation="com.mrd.yourwebproject.actor.impl.MailSenderActorImpl"
                      timeout="1000"
                      scope="singleton"
                      depends-on="mailSender,velocityEngine">
        <property name="javaMailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
        <property name="props" ref="props" />
    </akka:typed-actor>  -->

    <bean id="mailSenderActor" class="com.mrd.yourwebproject.actor.impl.MailSenderActorImpl">
        <property name="javaMailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    <!--     <property name="velocityEnginePushNotifications" ref="velocityEnginePushNotifications"/>  -->
        <property name="props" ref="props" />
       
    </bean>

    <bean id="mailSenderUntypedActor" class="com.mrd.yourwebproject.actor.impl.MailSenderUntypedActorImpl">
        <property name="javaMailSender" ref="mailSender"/>
        <property name="velocityEngine" ref="velocityEngine"/>
    <!--     <property name="velocityEnginePushNotifications" ref="velocityEnginePushNotifications"/>  -->
        <property name="props" ref="props" />
        <property name="mailSenderWebAPIService" ref="mailSenderWebAPIServiceImpl"></property>
    </bean>
    
    
    <bean id="smsSenderUntypedActor" class="com.mrd.yourwebproject.actor.impl.SMSSenderUntypedActorImpl">
        <property name="smsVelocityEngine" ref="smsVelocityEngine"/>
    <!--     <property name="velocityEnginePushNotifications" ref="velocityEnginePushNotifications"/>  -->
        <property name="props" ref="props" />
    </bean>
</beans>